<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div>
        <span>id: {{hero.id}}</span>
    </div>
    <div><span>name: </span>{{hero.name}}</div>
    <div>
        <label>Name:
            <input [(ngModel)]="hero.name" placeholder="name">
        </label>
    </div>
    <button (click)="goBack()" mat-raised-button matTooltip={{hero.name}}>go back</button>
    <button (click)="save()">save</button>
</div>